services:
  frigate:
    container_name: frigate
    image: ghcr.io/blakeblackshear/frigate:stable
    restart: unless-stopped
    stop_grace_period: 30s
    shm_size: "128mb"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ frigate.config_path }}:/config
      - {{ frigate.media_path }}:/media/frigate
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "{{ frigate.port }}:8971"
    environment:
      TZ: {{ system.timezone }}
