services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    volumes:
      - {{ vaultwarden.data_path }}:/data
    network_mode: host
    environment:
      - DOMAIN=https://{{ vaultwarden.domain }}
      - SIGNUPS_ALLOWED=false
      - INVITATIONS_ALLOWED=false
      - WEBSOCKET_ENABLED=true
      - LOG_LEVEL=warn
      - ROCKET_PORT={{ vaultwarden.port }}

