services:
  couchdb:
    image: couchdb:latest
    container_name: obsidian_livesync_couchdb
    restart: unless-stopped
    environment:
      - COUCHDB_USER={{ obsidian_livesync_db_user }}
      - COUCHDB_PASSWORD={{ obsidian_livesync_db_password }}
    volumes:
      - {{ services.obsidian_livesync.config_path }}/data:/opt/couchdb/data
      - {{ services.obsidian_livesync.config_path }}/etc:/opt/couchdb/etc/local.d
    network_mode: host