services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
    network_mode: host
    environment:
      INITIAL_ADMIN_EMAIL: {{ nginx_proxy_manager_admin_email }}
      INITIAL_ADMIN_PASSWORD: {{ nginx_proxy_manager_admin_password }}