services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: host
    volumes:
      - {{ home_assistant.data_path }}:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    environment:
      TZ: {{ home_assistant.timezone }}

  mosquitto:
    container_name: mosquitto
    image: {{ home_assistant.mqtt.image }}
    restart: unless-stopped
    network_mode: host
    volumes:
      - {{ home_assistant.mqtt.config_path }}/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - {{ home_assistant.mqtt.config_path }}/password_file:/mosquitto/config/password_file:ro
      - {{ home_assistant.mqtt.data_path }}:/mosquitto/data
    environment:
      TZ: {{ home_assistant.timezone }}

  otbr:
    container_name: otbr
    image: {{ home_assistant.thread.image }}
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
      - {{ home_assistant.thread.device }}:/dev/ttyZBT2
    volumes:
      - {{ home_assistant.thread.data_path }}:/data
    environment:
      TZ: {{ home_assistant.timezone }}
      OT_LOG_LEVEL: {{ home_assistant.thread.log_level }}
      OT_RCP_DEVICE: >-
        spinel+hdlc+uart:///dev/ttyZBT2?uart-baudrate={{ home_assistant.thread.baudrate }}{{ '&uart-flow-control' if home_assistant.thread.hardware_flow_control else '&uart-init-deassert' }}
      OT_INFRA_IF: {{ home_assistant.thread.backbone_interface }}
      OT_THREAD_IF: wpan0
      OT_REST_LISTEN_ADDR: {{ home_assistant.thread.rest_api.listen_address }}
      OT_REST_LISTEN_PORT: {{ home_assistant.thread.rest_api.port }}
      OT_WEB_LISTEN_ADDR: {{ home_assistant.thread.web.listen_address }}
      OT_WEB_LISTEN_PORT: {{ home_assistant.thread.web.port }}

  matter-server:
    container_name: matter-server
    image: {{ home_assistant.matter.image }}
    restart: unless-stopped
    network_mode: host
    security_opt:
      - apparmor:unconfined
    volumes:
      - {{ home_assistant.matter.data_path }}:/data
    command:
      - --storage-path
      - /data
      - --paa-root-cert-dir
      - /data/credentials
      - --port
      - "{{ home_assistant.matter.port }}"
