services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    restart: unless-stopped
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: host
    volumes:
      - {{ home_assistant.data_path }}:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    environment:
      TZ: {{ home_assistant.timezone }}

  mosquitto:
    container_name: mosquitto
    image: {{ home_assistant.mqtt.image }}
    restart: unless-stopped
    network_mode: host
    volumes:
      - {{ home_assistant.mqtt.config_path }}/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - {{ home_assistant.mqtt.config_path }}/password_file:/mosquitto/config/password_file:ro
      - {{ home_assistant.mqtt.data_path }}:/mosquitto/data
    environment:
      TZ: {{ home_assistant.timezone }}
